
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="text-center"> <!-- Para centrar el contenido -->
            <h1 class="mb-4">Enter a skill you want to learn</h1>
            <form action="/showSkills">
                {% csrf_token %}
                <!-- Utilizar clases de Bootstrap para el formulario -->
                <div class="form-group">
                    <input type="text" class="form-control-sm text-center" name="skill" placeholder="Enter a skill">
                </div>
                <button type="submit" class="btn btn-primary">Ok</button>
            </form>
        </div>
    </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
 
 